body{
    background-color: #FFFFFF;
}
#body_cad{
    height: 1666px;
}
.div1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxcenter{
    flex-direction: column;
    position: relative;
    margin-top: 242px;
    margin-bottom: 100px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 5px solid rgb(224, 224, 224);
    border-radius: 20px;
}
#box_login{
    width: 674px;
    height: 674px;
}
#box_cad{
    width: 674px;
    height: 1291px;
}
h2{
    position: relative;
    margin-left: 48px;
    margin-top: 37px;
    margin-bottom: 82px;
    font-weight: 500;
    font-size: 50px;
    line-height: 75px;
}
.alinhar{
    display: flex;
    flex-direction: row;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin-bottom: 0;
    color: #000000;
}
#password{
    margin-bottom: 0;
}
#esqueceu{
    display: flex;
    position: relative;
    margin-left: 485px;
    height: 14px;
    margin-top: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px; 
}
.text-field{
    position: relative;
    margin-bottom: 30px;
    margin-left: 41px;
    border-radius: 20px;
    padding: 1px 10px;
    width: 572px;
    height: 55px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: x-large;
    border-color: #000000;
}
.input-submit{
    position: relative;
    margin-left: 41px;
    margin-top: 40px;

    border-radius: 20px;
    border: rgba(244, 173, 89, 1);
    width: 598px;
    height: 55px;

    font-weight: 500;
    font-size: 30px;
    line-height: 30px;

    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #000000;

    background-color: rgba(244, 173, 89, 1);
}
.end_text{
    position: relative;
    margin-left: 151px;
    margin-top: 55px; 
    margin-right: 18px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
.end_link{
    position: relative;
    margin-top: 55px;
    margin-left: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration: underline;
    color: rgba(244, 173, 89, 1);
}
.text-poppins{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #000000;
}
.label-text{
    position: relative;
    margin-left: 48px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #000000;
}
.svgtop{
    position: relative;
    margin-left: 80px;
    margin-top: 51px;
    width: 204px;
    height: 71px;
    user-select: none;
}
