body{
    background-color: #FFFFFF;
}
#body_cad{
    height: 1666px;
}
.div1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxcenter{

    flex-direction: column;
    position: relative;
    margin-top: 242px;
    margin-bottom: 100px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 5px solid rgb(224, 224, 224);
    border-radius: 20px;
}
#box_login{
    width: 674px;
    height: 674px;
}
#box_cad{
    width: 674px;
    height: 1291px;
}
h2{
    position: relative;
    margin-left: 48px;
    margin-top: 37px;
    margin-bottom: 82px;
    font-weight: 500;
    font-size: 50px;
    line-height: 75px;
}
.alinhar{
    display: flex;
    flex-direction: row;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin-bottom: 0;
    color: #000000;
}
#password{
    margin-bottom: 0;
}
#esqueceu{
    display: flex;
    position: relative;
    margin-left: 485px;
    height: 14px;
    margin-top: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px; 
}
.text-field{
    position: relative;
    margin-bottom: 30px;
    margin-left: 41px;
    border-radius: 20px;
    padding: 1px 10px;
    width: 592px;
    height: 55px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: x-large;
    border-color: #000000;
    
}

.submit{
    position: relative;
    margin-left: 41px;
    margin-top: 40px;

    border-radius: 20px;
    border: rgba(244, 173, 89, 1);
    width: 598px;
    height: 55px;

    font-weight: 500;
    font-size: 30px;
    line-height: 30px;

    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #000000;

    background-color: rgba(244, 173, 89, 1);
}
.end_text{
    position: relative;
    margin-left: 151px;
    margin-top: 55px; 
    margin-right: 18px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
.end_link{
    position: relative;
    margin-top: 55px;
    margin-left: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: rgba(244, 173, 89, 1);
}
.text-poppins{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #000000;
}
.label-text{
    position: relative;
    margin-left: 48px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #000000;
}
#svgtop{
    position: relative;
    margin-left: 80px;
    margin-top: 51px;
    width: 204px;
    height: 71px;
}



/* André */

.register-form{
    position: relative;
    width: 674px;
}
.home-nav {
    margin-top: 78px;
    display: flex;
    width: 810px;
    align-items: center; /*Adjusted to center vertically*/
    justify-content: flex-end;
    flex-direction: row;
}
#home-logo{
    margin-top: 51px;
    margin-left: 80px;
}
#div1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}

#navbar-options{
    display: flex;
    width: 800px;
    justify-content: flex-end;
    border: 0;
    margin-right: 30px;
}
#home-list {
    
    list-style: none; /*Remove default list styles*/
    padding: 0; /*Remove default padding*/
    
}
.home-list-item{
    margin-right: 42px !important;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    /* text-transform: capitalize; */
    
    color: #000000;


}
#campanhas-opt{
    margin-right: 50px !important;
}

#cadastro-opt{
    margin-right: 54 !important;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    border: 1px solid #000000;
    padding: 10px 20px;
    border-color: black;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 14px !important;
}
#link-enter{
    text-decoration: none;
    color: #FFFFFF;
}
#link-cad{
    text-decoration: none;
    color: #000000;
}
#entrar-opt{
    background-color: #F4AD59;
    margin-right: 34px !important;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    border: 1px solid #F4AD59 !important;
    padding: 10px 20px;
    border-radius: 30px;
     
}
.img-home{
    width: 330px;
    height: 412px;
    margin-top: 60px;
}
#section{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
section{
    margin-top: 291px;
}
#title-vollkorn{
    margin-top: 0;
    margin-bottom: 0;

    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 89px;

    color: #000000;


}
#title-poppins{
    height: 96px;
    margin-top: 0;
    margin-bottom: 0;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 96px;
   

    color: #000000;
}
#title-roboto{
    height: 56px;
    width: 538px;
    margin-top: 12px;
    margin-bottom: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #000000;
}
#voluntary{
    margin-top: 32px;
    background-color: #F4AD59;
    margin-right: 34px !important;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    border: 1px solid #F4AD59 !important;
    padding: 10px 20px;
    border-radius: 30px;
    color: #FFFFFF !important; 
}