body{
    background-color: #FFFFFF;
}
#body_cad{
    height: 1666px;
}
.div1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxcenter{

    flex-direction: column;
    position: relative;
    margin-top: 242px;
    margin-bottom: 100px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 5px solid rgb(224, 224, 224);
    border-radius: 20px;
}
#box_login{
    width: 674px;
    height: 674px;
}
#box_cad{
    width: 674px;
    height: 1291px;
}
h2{
    position: relative;
    margin-left: 48px;
    margin-top: 37px;
    margin-bottom: 82px;
    font-weight: 500;
    font-size: 50px;
    line-height: 75px;
}
.alinhar{
    display: flex;
    flex-direction: row;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin-bottom: 0;
    color: #000000;
}
#password{
    margin-bottom: 0;
}
#esqueceu{
    display: flex;
    position: relative;
    margin-left: 485px;
    height: 14px;
    margin-top: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px; 
}
.text-field{
    position: relative;
    margin-bottom: 30px;
    margin-left: 41px;
    border-radius: 20px;
    padding: 1px 10px;
    width: 572px;
    height: 55px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: x-large;
    border-color: #000000;
    
}

.submit{
    position: relative;
    margin-left: 41px;
    margin-top: 40px;

    border-radius: 20px;
    border: rgba(244, 173, 89, 1);
    width: 598px;
    height: 55px;

    font-weight: 500;
    font-size: 30px;
    line-height: 30px;

    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #000000;

    background-color: rgba(244, 173, 89, 1);
}
.end_text{
    position: relative;
    margin-left: 151px;
    margin-top: 55px; 
    margin-right: 18px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
.end_link{
    position: relative;
    margin-top: 55px;
    margin-left: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: rgba(244, 173, 89, 1);
}
.text-poppins{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #000000;
}
.label-text{
    position: relative;
    margin-left: 48px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #000000;
}
.svgtop{
    position: relative;
    margin-left: 80px;
    margin-top: 51px;
    width: 204px;
    height: 71px;
    user-select: none;
}



/* André */

.register-form{
    position: relative;
    width: 674px;
}
.home-nav {
    margin-top: 90px;
    display: flex;
    width: 810px;
    align-items: center; /*Adjusted to center vertically*/
    justify-content: flex-end;
    flex-direction: row;
}
#div1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}

#navbar-options{
    display: flex;
    width: 800px;
    justify-content: flex-end;
    border: 0;
    margin-right: 30px;
}
#home-list {
    
    list-style: none; /*Remove default list styles*/
    padding: 0; /*Remove default padding*/
    
}
.home-list-item{
    margin-right: 42px !important;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    /* text-transform: capitalize; */
    
    color: #000000;


}
#campanhas-opt{
    margin-right: 50px !important;
}

#cadastro-opt{
    margin-right: 54 !important;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    border: 1px solid #000000;
    padding: 10px 20px;
    border-color: black;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 14px !important;
    user-select: none;
}
#link-enter{
    text-decoration: none;
    color: #FFFFFF;
}
#link-cad{
    text-decoration: none;
    color: #000000;
}
#entrar-opt{
    background-color: #F4AD59;
    margin-right: 34px !important;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    border: 1px solid #F4AD59 !important;
    padding: 10px 20px;
    border-radius: 30px;
    user-select: none;
}
section{
    margin-top: 291px;
}
#section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#box-img{
    border-radius: 15px;
    width: 1332px;
}
.img-home{
  width: 330px;
  height: 412px;
  margin: 60px 0 0 0;
}


#title-vollkorn{
    width: 560px;
    margin-top: 0;
    margin-bottom: 0;

    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 89px;

    color: #000000;


}
#title-poppins{
    width: 820px;
    height: 96px;
    margin-top: 0;
    margin-bottom: 0;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 96px;
   

    color: #000000;
}
#title-roboto{
    height: 56px;
    width: 538px;
    margin-top: 12px;
    margin-bottom: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #000000;
}
#voluntary{
    margin-top: 32px;
    background-color: #F4AD59;
    margin-right: 34px !important;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    border: 1px solid #F4AD59 !important;
    padding: 10px 20px;
    border-radius: 30px;
    color: #FFFFFF !important; 
}
#sessao-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 53px;
    width: 1320px;
    height: 525px;
    background-color: rgba(255, 247, 238, 1);
    border-radius: 15px;
}
#sessao-2-title-poppins{
    margin-top: 56px;
    margin-left: 76px;
    margin-bottom: 0;
    width: 322px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 75px;

    color: #000000;
}
#sessao-2-title-roboto{
    margin-top: 17px;
    margin-left: 76px;
    width: 376px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    color: #000000;
}
.home-links{
    color: rgba(244, 173, 89, 1);
}
#opt-explorar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 83px;
    margin-left: 40px;
    width: 810px;
    height: 210px;
}
.opt-explorar-span{
    margin-left: 47px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid #000000;
    padding: 10px 30px;
    border-color: black;
    border-radius: 30px;
    user-select: none;
    
}
.link-explo{
    text-decoration: none;
    color: #000000;
}
#camp-o1{
    width:292px ;
}
#camp-03{
    width: 252px;
}
#camp-04{
    width: 296px;
}
#camp-05{
    width: 267px;
}
#camp-10{
    width: 338px;
}
#mais-camp{
    margin-left: 985px;
    margin-top: 206px;
}
#sessao-3{
    display: flex;
    flex-direction: row;
    width: 1320px;
    height: 329px;
    margin-top: 53px;
    border-radius: 15px;
    background-color: rgba(255, 215, 168, 1);
}
#sessao-3-div-2{
    display: flex;
    flex-direction: column;
}
#sessao-3-title-poppins{
    margin-top: 52px;
    margin-left: 74px;
    width: 430px;
    height: 225px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 75px;
    color: #000000;
}
#sessao-3-title-roboto{
    margin-top: 85px;
    margin-left: 33px;
    width: 660px;
    height: 134px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
#cad-ong{
    margin-top: 8px;
    margin-left: 387px;
    padding: 10px 25px;
}
#sessao-4{
    margin-top: 53px;
    width: 1320px;
    height: 495px;
    border-radius: 15px;
    background-color: rgba(255, 247, 238, 1);
}
#sessao-4-h2{
    margin-top: 20px;
    margin-left: 74px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 75px;
    color: #000000;
}
#sessao-4-text{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 74px;
}
.sessao-4-comt-autor{
    margin-right: 62px;
}
.sessao-4-text-comt{
    width: 369px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    color: #000000;
}
.sessao-4-text-autor{
    margin-top: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}
#sessao-5{
    margin-top: 56px;
    width: 1320px;
    height: 431px;
    border-radius: 15px;
    background-color: rgba(255, 247, 238, 1);
}
#sessao-5-div-1{
    display: flex;
    flex-direction: row;
}
#sessao-5-div-text-1{
    margin-top: 68px;
    margin-left: 81px;
}
#sessao-5-div-text-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 120px;
    margin-top: 57px;
    width: 589px;
    height: 252px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #000000;


}
#sessao-5-title-poppins-1{
    width: 438px;
    height: 84px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    text-transform: uppercase;

    color: #000000;
}
#sessao-5-title-poppins-2{
    width: 484px;
    margin-top: 21px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 75px;

    color: #000000;
}
#footer-home{
    display: flex;
    justify-content: center;
}
#div-footer{
    width: 1333px;
    height: 429px;
    margin-top: 85px;
    margin-left: 42px;
}
#footer-img{
    width: 198px;
    height: 63px;
}
#div-footer-alinhar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.footer-title{
    
    margin-left: 70px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;

    color: #000000;
}
.div-test{
    margin-top: 20px;
}
.div-refer{
    margin-top: 25.4px;
     
    margin-right: 75px;
}
.footer-refer{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 70px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: #000000;
}
