.register-form{
    position: relative;
    width: 674px;
}
.home-nav {
    margin-top: 90px;
    display: flex;
    width: 810px;
    align-items: center; /*Adjusted to center vertically*/
    justify-content: flex-end;
    flex-direction: row;
}
#div1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}
#navbar-options{
    display: flex;
    width: 800px;
    justify-content: flex-end;
    border: 0;
    margin-right: 30px;
}
#home-list {
    list-style: none; 
    padding: 0; 
}
.home-list-item{
    margin-right: 42px !important;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
    color: #000000;
}
#campanhas-opt{
    margin-right: 50px !important;
}
#cadastro-opt{
    margin-right: 54px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    border: 1px solid #000000;
    padding: 10px 20px;
    border-color: black;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 14px !important;
    user-select: none;
}
#link-enter{
    text-decoration: none;
    color: #FFFFFF;
}
#link-cad{
    text-decoration: none;
    color: #000000;
}
#entrar-opt{
    background-color: #F4AD59;
    margin-right: 34px !important;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    border: 1px solid #F4AD59 !important;
    padding: 10px 20px;
    border-radius: 30px;
    user-select: none;
}
section{
    margin-top: 200px;
}
#section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#box-img{
    border-radius: 15px;
    width: 1332px;
}
.img-home{
    width: 330px;
    height: 412px;
    margin: 60px 0 0 0;
}
#fist-img{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#end-img{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#title-vollkorn{
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 70px;

    color: #000000;
}
#title-poppins{
    white-space: nowrap;
    height: 96px;
    margin-top: 0;
    margin-bottom: 0;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 96px;
   

    color: #000000;
}
#title-roboto{
    height: 56px;
    width: 538px;
    margin-top: 12px;
    margin-bottom: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #000000;
}
#voluntary{
    margin-top: 50px;
    background-color: #F4AD59;
    margin-right: 34px !important;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 20px;
    border: 1px solid #F4AD59 !important;
    padding: 10px 20px;
    border-radius: 30px;
    color: #FFFFFF !important; 
}
#sessao-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 53px;
    width: 1320px;
    height: 525px;
    background-color: rgba(255, 247, 238, 1);
    border-radius: 15px;
}
#sessao-2-title-poppins{
    margin-top: 56px;
    margin-left: 76px;
    margin-bottom: 0;
    width: 322px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 75px;

    color: #000000;
}
#sessao-2-title-roboto{
    margin-top: 17px;
    margin-left: 76px;
    width: 376px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    color: #000000;
}
.home-links{
    color: rgba(244, 173, 89, 1);
}
#opt-explorar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 83px;
    margin-left: 40px;
    width: 810px;
    height: 210px;
}
.opt-explorar-span{
    margin-left: 47px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid #000000;
    padding: 10px 30px;
    border-color: black;
    border-radius: 30px;
    user-select: none;
}
.link-explo{
    text-decoration: none;
    color: #000000;
}
#camp-o1{
    width:292px ;
}
#camp-03{
    width: 252px;
}
#camp-04{
    width: 296px;
}
#camp-05{
    width: 267px;
}
#camp-10{
    width: 338px;
}
#mais-camp{
    margin-left: 985px;
    margin-top: 206px;
}
#sessao-3{
    display: flex;
    flex-direction: row;
    width: 1320px;
    height: 329px;
    margin-top: 53px;
    border-radius: 15px;
    background-color: rgba(255, 215, 168, 1);
}
#sessao-3-div-2{
    display: flex;
    flex-direction: column;
}
#sessao-3-title-poppins{
    margin-top: 52px;
    margin-left: 74px;
    width: 430px;
    height: 225px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 75px;
    color: #000000;
}
#sessao-3-title-roboto{
    margin-top: 85px;
    margin-left: 33px;
    width: 660px;
    height: 134px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
#cad-ong{
    margin-top: 8px;
    margin-left: 387px;
    padding: 10px 25px;
}
#sessao-4{
    margin-top: 53px;
    width: 1320px;
    height: 530px;
    border-radius: 15px;
    background-color: rgba(255, 247, 238, 1);
}
#sessao-4-h2{
    margin-top: 50px;
    margin-left: 74px;
    margin-bottom: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    color: #000000;
}
#sessao-4-text{
    display: flex;
    flex-direction: row;
    margin-left: 74px;
    margin-top: 30px;
}
.sessao-4-comt-autor{
    margin-right: 62px;
    width: 340px;
}
.sessao-4-text-comt{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    color: #000000;
}
.sessao-4-text-autor{
    margin-top: 21px;
    width: 294px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}
#sessao-5{
    margin-top: 56px;
    width: 1320px;
    height: 431px;
    border-radius: 15px;
    background-color: rgba(255, 247, 238, 1);
}
#sessao-5-div-1{
    display: flex;
    flex-direction: row;
}
#sessao-5-div-text-1{
    margin-top: 68px;
    margin-left: 81px;
}
#sessao-5-div-text-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 120px;
    margin-top: 57px;
    width: 589px;
    height: 252px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
#sessao-5-title-poppins-1{
    width: 438px;
    height: 84px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    text-transform: uppercase;

    color: #000000;
}
#sessao-5-title-poppins-2{
    width: 484px;
    margin-top: 21px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 75px;

    color: #000000;
}
#footer-home{
    display: flex;
    justify-content: center;
}
#div-footer{
    width: 1333px;
    height: 429px;
    margin-top: 85px;
    margin-left: 42px;
}
#footer-img{
    width: 198px;
    height: 63px;
}
#div-footer-alinhar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-title{
    
    margin-left: 70px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;

    color: #000000;
}
.div-test{
    margin-top: 20px;
}
.div-refer{
    margin-top: 25.4px;
    margin-right: 75px;
}
.footer-refer{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 70px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: #000000;
}
.svgtop{
    position: relative;
    margin-left: 80px;
    margin-top: 51px;
    width: 204px;
    height: 71px;
    user-select: none;
}